*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    color: whitesmoke;
}
body{
    background:linear-gradient(140deg,#2b09a8,#9b3f0a);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
    height: 100vh;
    align-items: center;
}
#parent{
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-size:25px;
    border-radius: 10px;
    gap: 20px;
}
#parent #result{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    outline: 0;
    border: 0;
    background:linear-gradient(125deg,#839c10,#3909a8);
    font-size:25px;
    border-radius: 10px;
     /* filter: blur(1.5px); */
     padding-left: 13px;
   
}
