*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#fe0015,#5b548a) ;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.card h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
   border: 0;
   outline: 0;
   background-color:#ebfffc ;
   color: #555;
   padding: 10px 25px;
   height: 60px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button:hover{
    background-color: #00feba;
}
.search button img{
    width: 16px;
}
.weather-icon{
    margin-top: 30px;
    height: 150px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top:-20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items:center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display:none ;
}
.error{
    text-align: center;
    margin-left: 10px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    display: none;
}