*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background:linear-gradient(210deg,#82b40e,#00642d);
}
.wrapper{
    height: 260px;
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
}

/* code after js */

.wrapper.active{
    height: 650px;
}

/* js code end  */
.qr-code img{
    height: 300px;
}
h1{
    font-size: 21px;
    font-weight: bolder;
}
p{
    margin-top: 5px;
    color: #474747;
    font-size: 14px;
    font-weight: 800;
     margin-bottom: 5px;
}
.wrapper .form{
    margin: 20px 0 30px;
}
.form input,button{
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form input{
    border: 1px solid #999;
    padding: 0 17px;
    font-size: 18px;
    margin-bottom: 8px;
}
.form button{
    margin-top: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    background-color:#3498db;
}
.qr-code{
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* code after js */

.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

/* js code end  */