*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #fff ,#13181a);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
     width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#fe0015,#5b548a) ;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.card h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px; 
}
.btn{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btn button{
   border: 0;
   outline: 0;
   background-color:#ebfffc ;
   color: #555;
   padding: 10px 25px;
   height: 60px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 25px;
   font-weight: 700;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.btn button:hover{
    background-color: #00feba;
}
.location{
    margin-top: 20px;
    border: 2px solid rgb(48, 110, 151);
    border-radius: 10px;
    background: linear-gradient(to right,#28b13f,#b1148f);
}

.location h2{
    font-size: 40px;
    font-weight: 500;
}
.location{
    display: none;
}
