*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(#252930 , #5372F5);
}
button{
    font-size: 50px;
    padding: 25px 30px;
    background: #fff;
    border: none;
    outline: 0;
    border-radius: 10px;
    font-weight: 500;
    color: #5372F5;
    cursor: pointer;
}